@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


#forgot
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4;
    padding: 20px 0px;
    font-family: 'Poppins', sans-serif;
}
#forgot .logo-for-signin
{
    width: 180px;
}

#forgot .header-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
}
#forgot .container{
    position: relative;
    max-width: 400px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
#forgot .container header{
    position: relative;
    font-size: 25px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}
#forgot .container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}


#forgot .fields .group
{
    display: flex;
    gap: 20px;
}

#forgot .group .input-field
{
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    width: 100%;
}

#forgot .input-field label{
    font-size: 15px;
    font-weight: 500;
    color: #2e2e2e;
}



#forgot .input-field input, select{
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}

#forgot .container form .nextBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  /* max-width: 200px; */
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  margin: 15px 0;
  background-color: #4070f4;
  transition: all 0.3s linear;
  cursor: pointer;
}

#forgot .container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
#forgot form button:hover{
    background-color: #265df2;
}
#forgot form button i
{
    margin: 0 6px;
}


#forgot .group-2 p
{
    font-size: 13px;
}

#forgot .error-text
{
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    color: red;
    /* margin-top: 0; */
}

#forgot .successregister
{
    background: #D1E7DD;
    color: #0F5132;
    padding: 8px 10px;
    font-weight: 600;
    text-align: center;
}


#forgot .loginfail
{
  background: #F8D7DA;
  color: #842029;
  padding: 8px 10px;
  font-weight: 600;
  text-align: center;
  font-size: 13px;

}
#forgot .nextBtn
{
    width: 100%;
}

@media (max-width: 910px) {
    #forgot .container form{
        overflow-y: scroll;
    }
    #forgot .container form::-webkit-scrollbar{
       display: none;
    }

    #forgot .fields .group
    {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

}

@media (max-width: 480px) {
    #forgot .header-section
    {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    #forgot .container h1
    {
        display: none;
    }
}
